<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290048056512-fpj00hof4s5t39ta3gjh2l07h23gdhq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290048056512-fpj00hof4s5t39ta3gjh2l07h23gdhq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgnqENiQoJvAf-m3_2IWwn_qSfhldbvI</string>
	<key>GCM_SENDER_ID</key>
	<string>290048056512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tennant.Shaw.VGStatsPlus</string>
	<key>PROJECT_ID</key>
	<string>vgstatspus</string>
	<key>STORAGE_BUCKET</key>
	<string>vgstatspus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290048056512:ios:54d761837a5f74c7</string>
	<key>DATABASE_URL</key>
	<string>https://vgstatspus.firebaseio.com</string>
</dict>
</plist>